/************* MEDIA QUERIES FROM BIG SCREENS********/
@media (min-width: 760px) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }
    
    header{
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }
    
    .navigation{
        display: block !important;
     
    }

    .navigation ul{
        display: flex;
        border: none;
        
    }

    .navigation a {
        display: block;
        padding :10px;
        text-decoration: none;
        margin: 5px;
        border: none;
     border-bottom: none;
        list-style: none;
    }
}

/************** screen of 920px plus ************/

@media (min-width:920px){
   .about_and_student_photo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "about_me_section about_me_section student_photo_section";

    column-gap: 1.5rem;
    
   }

   .about_me_section{
    grid-area: about_me_section;
   }
   .student_photo_section{
    grid-area: student_photo_section;
   
   }

   .certification{
    margin-top: 1rem;
   }

   .navigation ul{
    font-size: large;
   }
}

@media (min-width:1220px){
    header, main, nav, footer  {
      max-width: 1115px;
      margin: 0 auto;
     
      
        
    }

}